 <div class="flex justify-center">
  <div class="lg:w-5/6 lg:m-5 shadow rounded-3xl p-3">
    <div class="flex justify-center p-3">
      <%= cl_image_tag("affirmations_or7j1g", class:"w-14 h-14") %>
      <div class="m-2">
        <h1 class="font-headings font-bold lg:text-lg">So you're feeling <%= (@mood.name).downcase %> and you want to do some affirmations?</h1>
        <h1 class="font-headings lg:text-lg">Repeat the following:</h1>
      </div>
    </div>
    <div class="flex justify-center py-3 px-5 font-headings text-neediegreen">
      <% @therapies.each do |therapy| %>
      <%= therapy.content.text %>
      <% end %>
    </div>
  </div>
</div>
