<div class="flex justify-center">
  <div class="py-3 px-2">
    <%= cl_image_tag("audio_khjy1w", class:"lg:w-20 lg:h-20 w-16 h-16") %>
  </div>
  <div class="justify-center mt-5 mr-3">
    <h1 class="font-headings lg:text-lg text-base">Which audio option can help you?</h1>
  </div>
</div>

<%# <div class="grid lg:grid-cols-2 grid-cols-2 m-3 place-items-center"> %>
<div class="flex flex-wrap justify-center m-3 space-x-8">
  <% @therapies.each do |therapy| %>
    <%= link_to audio_path(therapy.content), class:"flex justify-center" do %>
      <div class="justify-center shadow-lg shadow-lightgreen w-36 h-56 px-3 py-14 mb-5">
        <% if therapy.sub_category == "music" %>
          <div class="flex justify-center">
            <%= cl_image_tag("music_rqjazw", class:"w-20 h-20") %>
          </div>
            <h5 class="font-headings text-base text-lightgreen text-center mx-3 py-3">Music</h5>
          <% else %>
          <div class="flex justify-center">
            <%= cl_image_tag("podcast_praz0v", class:"w-20 h-20") %>
          </div>
            <h5 class="font-headings text-base text-lightgreen text-center mx-3 py-3">Podcast</h5>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
