<div class="relative bg-white">
  <img
    class="absolute object-cover w-full h-96 opacity-75"
    src="https://images.unsplash.com/photo-1464692805480-a69dfaafdb0d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
    alt=""
  />
  <div class="relative flex justify-start">
    <div class="relative lg:w-1/2 w-5/6 h-72 py-20 lg:px-8 m-5">
      <h1 class="lg:text-4xl text-3xl font-headings font-bold text-white" style="text-shadow: 1px 1px 3px rgba(0,0,0,0.2)">
        Welcome to Needie
      </h1>
      <p class="text-xl font-headings text-white" style="text-shadow: 1px 1px 3px rgba(0,0,0,0.2)">
      How are you feeling today?
      </p>
    </div>
  </div>
</div>

<%# <div class="mt-5 px-5">
  <h1 class="font-headings font-bold lg:text-lg">Welcome to Needie</h1>
  <h1 class="font-headings">How are you feeling today?</h1>
</div> %>

<div class="grid lg:grid-cols-6 md:grid-cols-3 grid-cols-2 gap-3 justify-center items-center flex-wrap p-3">
  <% @moods.each do |mood| %>
    <%= link_to mood_path(mood), class:"hover:text-neediegreen" do %>
      <div class="p-4 lg:w-52 text-center justify-between">
      <div class="flex justify-center">
        <%= cl_image_tag(mood.image, class:"w-28 h-28") %>
      </div>
        <h5 class="font-headings italic justify-center m-3 lg:text-lg"><%= mood.name%></h5>
      </div>
    <% end %>
  <% end %>
</div>

<div class="flex justify-center mb-5">
<%= link_to "Feeling depressed?", new_survey_path, class: "py-2 px-5 border rounded-3xl text-white bg-neediegreen lg:text-lg text-center" %>
</div>
