<div class="relative bg-white">
  <img
    class="absolute object-cover w-full h-96 opacity-75"
    src="https://images.unsplash.com/photo-1464692805480-a69dfaafdb0d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
    alt=""
  />
  <div class="relative flex justify-start">
    <div class="relative lg:w-1/2 w-5/6 h-72 py-20 lg:px-8 m-5">
      <h1 class="lg:text-4xl text-3xl font-headings font-bold text-white" style="text-shadow: 1px 1px 3px rgba(0,0,0,0.2)">
        Welcome to Needie
      </h1>
      <p class="text-xl font-headings text-white my-2" style="text-shadow: 1px 1px 3px rgba(0,0,0,0.2)">
      How are you feeling today?
      </p>
    </div>
  </div>
</div>

<%# <div class="mt-5 px-5">
  <h1 class="font-headings font-bold lg:text-lg">Welcome to Needie</h1>
  <h1 class="font-headings">How are you feeling today?</h1>
</div> %>

<div class="grid lg:grid-cols-6 md:grid-cols-3 grid-cols-2 gap-3 justify-center items-center flex-wrap p-3">
  <% @moods.each do |mood| %>
    <%= link_to mood_path(mood), class:"hover:text-neediegreen" do %>
      <div class="p-4 lg:w-52 text-center justify-between">
      <div class="flex justify-center">
        <%= cl_image_tag(mood.image, class:"w-28 h-28") %>
      </div>
        <h5 class="font-headings italic justify-center m-3 lg:text-lg"><%= mood.name%></h5>
      </div>
    <% end %>
  <% end %>
</div>

<div class="flex justify-center mb-5">
  <button data-bs-toggle="modal" data-bs-target="#exampleModal" class= "py-2 px-5 border rounded-3xl text-white bg-neediegreen lg:text-lg text-center mb-2"> Feeling depressed?
  </button>
</div>

<!-- Modal -->
<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog relative w-auto pointer-events-none">
    <div
      class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-2xl outline-none text-current">
      <div
        class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-lightgreen rounded-t-md">
        <h5 class="lg:text-xl font-headings leading-normal text-neediegreen" id="exampleModalLabel">Do you think you might be depressed?</h5>
        <button type="button"
          class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body relative p-4 font-headings lg:text-base text-sm">
        Take the Burns Depression Test to find out if you are feeling depressed. Used by professional therapists around the world, this assessment can help you evaluate your depression severity and track therapeutic progress. Take the test to discover suggested resources to help you manage your feelings of depression
      </div>
      <div
        class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-lightgreen rounded-b-md">
        <button type="button" class="px-6
          py-2.5
          bg-neediegreen
          text-white
          font-headings
          text-xs
          uppercase
          rounded-2xl" data-bs-dismiss="modal">Close</button>
        <button type="button" class="px-6
          py-2.5
          bg-neediegreen
          text-white
          font-headings
          text-xs
          uppercase
          rounded-2xl">  <%= link_to "Take the test!", new_survey_path, class:"hover:text-white" %>
        </button>
      </div>
    </div>
  </div>
</div>
