<div class="flex justify-center">
  <div class="lg:w-5/6 lg:m-5 p-3">
    <div class="flex justify-center p-3">
      <%= cl_image_tag("article_adl4ov", class:"w-12 h-12") %>
      <div class="mx-2">
        <h1 class="font-headings font-bold lg:text-base text-sm">So you're feeling <%= (@reading.therapy.mood.name).downcase %> and you want to hear some good news?</h1>
        <h1 class="font-headings lg:text-base text-sm mt-2">Read the following:</h1>
      </div>
    </div>
      <div class="flex justify-center py-3">
        <iframe width="320" height="560" src=<%= @reading.therapy.content.text%> frameborder="0"></iframe>
      </div>
  </div>
</div>

<script>




</script>
