<div class="relative bg-white">
  <img
    class="absolute object-cover w-full h-full"
    src="https://images.unsplash.com/photo-1478145787956-f6f12c59624d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
  />

  <div class="relative flex justify-center">
    <div class="relative bg-white lg:w-1/2 w-5/6 h-96 m-5 shadow rounded-3xl">
      <h1 class="font-headings lg:text-4xl text-2xl text-center p-3 justify-items-center text-neediegreen p-5">Forgot your password?</h1>
      <div class="flex justify-center">
        <div class="w-5/6">

          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
            <span class="font-headings text-neediegreen text-sm italic">Enter your email address:</span>
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          label: false,
                          input_html: { placeholder: "Your Email", class: "font-headings mt-1 mb-4 block w-full rounded-2xl border-neediegreen bg-white focus:border-gray-300 focus:bg-white focus:ring-0" } %>
            </div>

            <div class="form-actions mt-3 flex justify-center">
              <%= f.button :submit, "Reset Password", class: "font-headings py-2 px-5 border rounded-3xl text-white bg-neediegreen" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
