<footer class="text-center text-white bg-neediegreen w-full">
  <div class="container pt-2">
    <div class="object-center justify-center">
    <div class="object-center text-white italic text-base">
      <%= link_to "Find out about the girls behind Needie", contact_path, class:"hover:text-lightgreen" %>
    </div>
    <div class="object-center text-white pb-2 text-base">
      © 2022 Copyright: Needie
    </div>
</footer>
