
<div class="mt-5 px-5">
  <h1 class="font-headings font-semibold text-2xl text-neediegreen mb-3">NEEDIE GIRLS
  </h1>

  <div class="grid lg:grid-cols-4 grid-cols-1">
    <div class="flex justify-center mb-5">
      <div class="rounded-2xl shadow-lg bg-white h-96 w-5/6">
        <div class="p-3 flex justify-center" >
          <img src="https://res.cloudinary.com/df8hxzoty/image/upload/v1651818168/n38mydbr8cxp6fhoalr9utdi4pqb.jpg" alt="" class="w-53 h-52 rounded-2xl"/>
        </div>
        <div class="p-3">
          <h5 class="text-neediegreen text-xl font-headings text-center mb-2">Lilian</h5>
          <p class="text-gray-700 text-base mb-4">
            Bio
          </p>
        </div>
      </div>
    </div>

        <div class="flex justify-center mb-5">
      <div class="rounded-2xl shadow-lg bg-white h-96 w-5/6">
        <div class="p-3 flex justify-center" >
          <img src="https://res.cloudinary.com/df8hxzoty/image/upload/v1652089354/of4yw0s5wgftk8xf9gfflog9yi5u.jpg" alt="" class="w-53 h-52 rounded-2xl"/>
        </div>
        <div class="p-3">
          <h5 class="text-neediegreen text-xl font-headings text-center mb-2">Alexa</h5>
          <p class="text-gray-700 text-base mb-4">
            Bio
          </p>
        </div>
      </div>
    </div>

            <div class="flex justify-center mb-5">
      <div class="rounded-2xl shadow-lg bg-white h-96 w-5/6">
        <div class="p-3 flex justify-center" >
          <img src="https://res.cloudinary.com/df8hxzoty/image/upload/v1651821172/xowjmnpw3swpzle9ixmxn8pn534g.jpg" alt="" class="w-53 h-52 rounded-2xl"/>
        </div>
        <div class="p-3">
          <h5 class="text-neediegreen text-xl font-headings text-center mb-2">Valantina</h5>
          <p class="text-gray-700 text-base mb-4">
            Bio
          </p>
        </div>
      </div>
    </div>

                <div class="flex justify-center mb-5">
      <div class="rounded-2xl shadow-lg bg-white h-96 w-5/6">
        <div class="p-3 flex justify-center" >
          <img src="https://res.cloudinary.com/df8hxzoty/image/upload/v1651821172/xowjmnpw3swpzle9ixmxn8pn534g.jpg" alt="" class="w-53 h-52 rounded-2xl"/>
        </div>
        <div class="p-3">
          <h5 class="text-neediegreen text-xl font-headings text-center mb-2">Maela</h5>
          <p class="text-gray-700 text-base mb-4">
            Bio
          </p>
        </div>
      </div>
    </div>



  </div>
</div>
