<div class="bg-white lg:flex shadow h-120">
  <div class="w-full text-center lg:w-1/2 lg:p-24 p-8 lg:text-left">
      <p class="mb-3 text-2xl font-bold text-neediegreen font-headings">
        Our Story
      </p>
      <p class="text-black font-headings lg:mt-5 mt-3 lg:text-base text-sm text-left">
        The girls-only squad of Le Wagon Shanghai Batch #855 is here to present you <strong>Needie</strong>—your one-stop shop for emotional support, no matter what you are going through.
      </p>
      <p class="text-black font-headings lg:mt-5 mt-3 lg:text-base text-sm text-left">
        Our user-friendly web app packs curated content that's tailored to your feels and helps you keep track of your daily moods and progress.
      </p>
      <p class="text-black font-headings lg:mt-5 mt-3 lg:text-base text-sm text-left">
        <strong>Needie is here whenever you’re in need of a pick-me-up!</strong>
      </p>
      <p class="text-black font-headings lg:mt-5 mt-3 lg:text-base text-sm text-left">
       This passion project was inspired and created during the 2022 Great Lockdown of Shanghai. We welcome your code and content contributions to make the Needie experience even better!
      </p>
      <p class="text-black font-headings lg:mt-5 mt-3 lg:text-base text-sm text-left italic">
      Find us on github.com/lilianliiii/needie <br> or drop us a line at lilian@needie.me
      </p>
  </div>

  <div class="lg:w-1/2 grid grid-cols-2 mx-2">
    <div class="p-3">
      <img
        src="https://res.cloudinary.com/df8hxzoty/image/upload/v1652233847/IMG_5136_j03bq3.jpg"
        alt=""
        class="rounded-3xl lg:w-11/12 lg:h-92"
      />
      <div class="text-center m-2">
        <a href="https://linkedin.com/in/alexa-martinez-a143700am" class="text-neediegreen lg:text-xl text-base font-headings hover:text-lightgreen">
        Alexa Martinez
        </a>
      </div>
    </div>

    <div class="p-3">
      <img
        src="https://res.cloudinary.com/df8hxzoty/image/upload/v1652233465/IMG_1104_fwtojt.jpg"
        alt=""
        class="rounded-3xl lg:w-11/12 lg:h-92"
      />
      <div class="text-center m-2">
        <a href="https://www.linkedin.com/in/lilian-li-31016055/" class="text-neediegreen lg:text-xl text-base font-headings hover:text-lightgreen">
        Lilian Li
        </a>
      </div>
    </div>

    <div class="p-3">
      <img
        src="https://res.cloudinary.com/df8hxzoty/image/upload/v1651821172/xowjmnpw3swpzle9ixmxn8pn534g.jpg"
        alt=""
        class="rounded-3xl lg:w-11/12 lg:h-92"
      />
     <div class="text-center m-2">
        <a href="https://www.linkedin.com/in/valantinatsoi" class="text-neediegreen lg:text-xl text-base font-headings hover:text-lightgreen">
        Valantina Tsoi
        </a>
      </div>
    </div>

    <div class="p-3">
      <img
        src="https://res.cloudinary.com/df8hxzoty/image/upload/v1652168011/WechatIMG167_yw0fdm.jpg"
        alt=""
        class="rounded-3xl lg:w-11/12 lg:h-92"
      />
     <div class="text-center m-2">
        <a href="https://www.linkedin.com/in/floriane-maëla-bougha/" class="text-neediegreen lg:text-xl text-base font-headings hover:text-lightgreen">
        Maëla Bougha
        </a>
      </div>
    </div>
  </div>

</div>
