<div class="bg-white lg:flex shadow h-120">
  <div class="w-full p-12 text-center lg:w-1/2 sm:p-16 lg:p-24 lg:text-left">
      <p class="mt-2 text-2xl font-bold text-neediegreen font-headings sm:text-3xl">
        The story behind Needie:
      </p>
      <p class="text-black lg:mt-4 lg:block">
      Our story
      </p>
  </div>

  <div class="lg:w-1/2 grid grid-cols-2">
    <div class="p-3">
      <img
        src="https://res.cloudinary.com/df8hxzoty/image/upload/v1652089354/of4yw0s5wgftk8xf9gfflog9yi5u.jpg"
        alt=""
        class="rounded-3xl lg:w-11/12 lg:h-92"
      />
      <h5 class="text-neediegreen text-xl font-headings text-center mb-2">Alexa</h5>
    </div>

    <div class="p-3">
      <img
        src="https://res.cloudinary.com/df8hxzoty/image/upload/v1651818168/n38mydbr8cxp6fhoalr9utdi4pqb.jpg"
        alt=""
        class="rounded-3xl lg:w-11/12 lg:h-92"
      />
      <h5 class="text-neediegreen text-xl font-headings text-center mb-2">Lilian</h5>
    </div>

    <div class="p-3">
      <img
        src="https://res.cloudinary.com/df8hxzoty/image/upload/v1651821172/xowjmnpw3swpzle9ixmxn8pn534g.jpg"
        alt=""
        class="rounded-3xl lg:w-11/12 lg:h-92"
      />
      <h5 class="text-neediegreen text-xl font-headings text-center mb-2">Valantina</h5>
    </div>

    <div class="p-3">
      <img
        src="https://res.cloudinary.com/df8hxzoty/image/upload/v1652168011/WechatIMG167_yw0fdm.jpg"
        alt=""
        class="rounded-3xl lg:w-11/12 lg:h-92"
      />
      <h5 class="text-neediegreen text-xl font-headings text-center mb-2">Maëla</h5>
    </div>
  </div>

</div>
