<div class="m-3">
  <h1 class="font-headings text-center">This is an indicator of <strong>mild depression</strong></h1>
</div>
<div class="m-3">
  <h1 class="font-headings text-center italic"> If you would like to seek professional support, here are some resources to consider...</h1>
</div>

<div class="flex font-headings mt-3">
    <a href="https://lifeline-shanghai.com/">
      <img class="rounded w-72 object-cover" alt="CCS" src="https://lifeline-shanghai.com/uploads/2/4/0/7/24076925/published/2431325.png">
    </a>
  <div class="ml-6 px-10 trailing-wide">
    <p class="font-extrabold">Lifeline Shanghai</p>
    <p>Lifeline Shanghai is a volunteer based non-profit organization that operates an English speaking Helpline for the international community. This essential helpline service provides emotional support and information to callers.
    </p>
  </div>
</div>
<br>
<div class="flex font-headings mt-3">
  <a href="https://www.communitycentershanghai.com/counseling/introduction/">
    <img class="rounded w-72 object-cover" alt="CCS" src="https://www.communitycentershanghai.com/wp-content/uploads/2018/12/favicon.png">
  </a>
  <div class="px-10 trailing-wide">
    <p class="font-extrabold">Community Center Shanghai</p>
    <p>Community Center Shanghai has a Counseling Department consisting of around 20 professional counselors here to help if you or someone you know could use some extra support.
    </p>
  </div>
</div>
<br>
<div class="flex font-headings mt-3">
  <a href="https://s-imha.com/">
    <img class="rounded w-72 object-cover" alt="CCS" src="https://s-imha.com/wp-content/uploads/2015/09/Capture2-2.png">
  </a>
  <div class="px-2 trailing-wide">
    <p class="font-extrabold">SIMHA</p>
    <p>SIMHA is a multidisciplinary professional association of therapists who provide mental health services to the international communities in Shanghai.
    </p>
  </div>
</div>
