<div class="m-3">
  <h1 class="font-headings text-center">This is an indicator of <strong>mild depression</strong></h1>
</div>

<div class="flex justify-center border-neediegreen border-1 rounded-3xl lg:m-3 m-2">
  <ul class="lg:flex sm:flex-wrap justify-center font-headings lg:text-md">
    <li class="lg:m-3 m-1"><strong>0-5</strong> = No depression</li>
    <li class="lg:m-3 m-1"><strong>6-10</strong> = Normal but unhappy</li>
    <li class="lg:m-3 m-1"><strong>11-25</strong> = Mild depression</li>
    <li class="lg:m-3 m-1"><strong>26-50</strong> = Moderate depression</li>
    <li class="lg:m-3 m-1"><strong>51-75</strong> = Severe depression</li>
    <li class="lg:m-3 m-1"><strong>76-100</strong> = Extreme depression</li>
    </ul>
</div>

<div class="mb-3">
  <h1 class="font-headings text-center italic"> If you would like to seek professional support, here are some resources to consider...</h1>
</div>

<div class="p-3">
  <h1 class="font-headings font-semibold text-2xl text-neediegreen mb-3">Counseling Resources:
  </h1>

  <div class="grid lg:grid-cols-3 grid-cols-1 gap-4">
    <div class="flex justify-center">
      <div class="rounded-lg shadow-lg bg-white max-w-sm">
        <a href="https://lifeline-shanghai.com/">
        <div class="p-3 flex justify-center" >
          <img src="https://lifeline-shanghai.com/uploads/2/4/0/7/24076925/published/2431325.png" alt="" class="w-53 h-52"/>
        </div>
        <div class="p-3">
          <h5 class="text-neediegreen text-xl font-headings text-center mb-2">Lifeline Shanghai</h5>
          <p class="text-gray-700 text-base mb-4">
            Lifeline Shanghai is a volunteer based non-profit organization that operates an English speaking Helpline for the international community. This essential helpline service provides emotional support and information to callers
          </p>
        </div>
        </a>
      </div>
    </div>

    <div class="flex justify-center">
      <div class="rounded-lg shadow-lg bg-white max-w-sm">
        <a href="https://www.communitycentershanghai.com/counseling/introduction/">
        <div class="p-3 flex justify-center" >
          <img src="https://www.communitycentershanghai.com/wp-content/uploads/2018/12/favicon.png" alt="" class="w-53 h-52"/>
        </div>
        <div class="p-3">
          <h5 class="text-neediegreen text-xl font-headings text-center mb-2">Community Center Shanghai</h5>
          <p class="text-gray-700 text-base mb-4">
            Community Center Shanghai has a Counseling Department consisting of around 20 professional counselors here to help if you or someone you know could use some extra support
          </p>
        </div>
        </a>
      </div>
    </div>

    <div class="flex justify-center">
      <div class="rounded-lg shadow-lg bg-white max-w-sm">
        <a href="https://s-imha.com/">
        <div class="p-3 flex justify-center" >
          <img src="https://s-imha.com/wp-content/uploads/2015/09/Capture2-2.png" alt="" class="w-53 h-52"/>
        </div>
        <div class="p-3">
          <h5 class="text-neediegreen text-xl font-headings text-center mb-2">SIMHA</h5>
          <p class="text-gray-700 text-base mb-4">
            SIMHA is a multidisciplinary professional association of therapists who provide mental health services to the international communities in Shanghai
          </p>
        </div>
        </a>
      </div>
    </div>

  </div>
</div>


<div class="p-3 my-3">
  <h1 class="font-headings font-semibold text-2xl text-neediegreen mb-3">Book Recommendations:
  </h1>

  <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
    <div class="flex justify-center">
      <div class="flex flex-col md:flex-row md:max-w-xl border-2 rounded-lg border-neediegreen">
        <img class=" w-full h-96 md:h-auto object-cover md:w-48 rounded-t-lg md:rounded-none md:rounded-l-lg" src="https://images-na.ssl-images-amazon.com/images/I/41dABwfpV-L._SX329_BO1,204,203,200_.jpg" alt="" />
        <div class="p-6 flex flex-col justify-start">
          <h5 class="text-neediegreen font-headings text-lg font-medium mb-2">Maybe You Should Talk To Someone: A Therapist, HER Therapist, and Our Lives Revealed</h5>
          <p class="text-gray-700 text-sm font-headings">
              If there was ever proof that helpers are not above needing help themselves at times, this book is it. Therapist Lori Gottlieb tells of working with patients who are struggling while she is also wrestling with her own heartbreak
          </p>
        </div>
      </div>
    </div>

    <div class="flex justify-center">
      <div class="flex flex-col md:flex-row md:max-w-xl border-2 rounded-lg border-neediegreen">
        <img class=" w-full h-96 md:h-auto object-cover md:w-48 rounded-t-lg md:rounded-none md:rounded-l-lg" src="https://images-na.ssl-images-amazon.com/images/I/41MIO1igVYL._SY291_BO1,204,203,200_QL40_FMwebp_.jpg" alt="" />
        <div class="p-6 flex flex-col justify-start">
          <h5 class="text-neediegreen font-headings text-lg font-medium mb-2">Your Happiness Toolkit: 16 Strategies for Overcoming Depression, and Building a Joyful, Fulfilling Life</h5>
          <p class="text-gray-700 text-sm font-headings">
              A lot of the confusion surrounding depression is about not knowing what to do about it. This book is exactly what the title suggests: a toolkit of options for various situations and feelings that arise
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
