<div class="m-3">
  <h1 class="font-headings text-center text-base">This is an indicator of <strong>no depression</strong></h1>
</div>

<div class="flex justify-center border-neediegreen border-1 rounded-3xl lg:m-3 my-5">
  <ul class="lg:flex sm:flex-wrap justify-center font-headings lg:text-base text-sm">
    <li class="lg:m-3 m-1"><strong>0-5</strong> = No depression</li>
    <li class="lg:m-3 m-1"><strong>6-10</strong> = Normal but unhappy</li>
    <li class="lg:m-3 m-1"><strong>11-25</strong> = Mild depression</li>
    <li class="lg:m-3 m-1"><strong>26-50</strong> = Moderate depression</li>
    <li class="lg:m-3 m-1"><strong>51-75</strong> = Severe depression</li>
    <li class="lg:m-3 m-1"><strong>76-100</strong> = Extreme depression</li>
    </ul>
</div>

<div class="mx-2">
  <h1 class="font-headings lg:text-center text-left italic text-lg text-neediegreen">Feel free to browse around on Needie!</h1>
  <h1 class="font-headings lg:text-center text-left italic text-lg text-neediegreen font-bold">How are you feeling now?</h1>
</div>

<%= render 'moods/moods' %>
