<div class="m-3">
  <h1 class="font-headings text-center">This is an indicator of <strong>no depression</strong></h1>
</div>
<div class="m-3">
  <h1 class="font-headings text-center italic"> Here are some resources that might be able to help you...</h1>
</div>
