<div class="my-5">
  <div class="flex justify-center">
    <%= cl_image_tag("walking_c2qkol", class:"w-28 h-28") %>
    <div class="m-3">
      <h1 class="font-headings font-bold text-lg">So you're feeling <%= (@walk.therapy.mood.name).downcase %> and you want to go on a <%= @walk.therapy.sub_category %>?</h1>
      <h1 class="font-headings">Follow the below route:</h1>
    </div>
  </div>
</div>
